
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

.hero{
height:100vh;
background-image:url("ChatGPT\ Image\ 13\ de\ mar.\ de\ 2026\,\ 21_44_56.png");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:20px;
}

.conteudo{
background:rgba(255,255,255,0.9);
padding:40px;
border-radius:20px;
max-width:500px;
width:100%;
}

/* TITULO */

h1{
font-size:60px;
color:#ff7a00;
margin-bottom:25px;
}

/* TEXTO */

p{
font-size:26px;
margin-bottom:35px;
color:#333;
}

/* BOTAO */

button{
padding:22px 50px;
font-size:26px;
border:none;
background:#ff7a00;
color:white;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#e56700;
transform:scale(1.05);
}

/* CELULAR */

@media(max-width:600px){

h1{
font-size:48px;
}

p{
font-size:22px;
}

button{
width:100%;
font-size:24px;
padding:20px;
}

.conteudo{
padding:30px;
}

}
